@import 'base/variables';
@import 'blocks/countries';
@import 'blocks/main';
@import 'blocks/btn';
@import 'blocks/advantages';
@import 'blocks/solution';
@import 'blocks/titles';
@import 'blocks/benefits';
@import 'blocks/host';
@import 'blocks/start';
@import 'blocks/footer';



.container {
    width: 1140px;
    margin: 0 auto;
}

.inline {
    width: 1680px;
    margin: 0 auto;
}

* {
    font-family: "Roboto";
    margin: 0;
}
.top {
    margin-top: 20px;
}

