.title-white {
    padding-top: 79px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}
.title-white-uppercase {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    max-height: 27px;
}

.title-black {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: #393939;
}
.title__white-little {
    font-size: 23px;
    font-weight: 300px;
    text-align: center;
    color: #ffffff;
}
.title-white-small-cloud {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    text-align: right;
}
.title-white-small-hosting {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    
}